body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    position: relative;
}

.content {
    max-width: 400px;
    margin: 96px 24px;
}

.content .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 400px;
    margin-bottom: 80px;
}

.img-me {
    width: 240px;
    height: 240px;
    background-image: url(../assets/me.jpg);
    background-size: cover;
    border-radius: 50%;
    transform-style: preserve-3d;
    transform: translateZ(10px);
}

.img-box .circle {
    transform-style: preserve-3d;
    animation: spining3d 10s linear infinite;
    position: relative;
    transform-origin: 17px 16px;
    left: -140px;
}

.img-box .circle .char {
    color: var(--text-color-highlight);
    line-height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 2px;
    background: var(--highlight-color);
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(--char-index)*8deg)) translateZ(160px);
}

@keyframes spining3d {
    0% {
        transform: perspective(800px) rotateY(360deg) rotateX(15deg);
    }
    100% {
        transform: perspective(800px) rotateY(0deg) rotateX(15deg);
    }
}

.about-text .button-group {
    box-sizing: border-box;
    margin: 48px 0 80px 0;
    display: flex;
    flex-wrap: wrap;
}

.about-text p a:hover {
    color: var(--text-color-primary);
    background: var(--highlight-color);
}

.about-text a.button {
    color: var(--text-color-primary);
    font-size: 18px;
    padding: 10px 16px;
    margin: 8px 24px 8px 0;
    background: var(--bg-color-1);
    border: 1px solid var(--text-color-primary);
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    width: fit-content;
}

.about-text a.button:hover {
    color: var(--text-color-highlight);
    background: var(--highlight-color);
}

.social-link {
    display: flex;
    flex-direction: column;
}

.social-link p {
    font-size: 15px;
    margin-bottom: 4px;
    color: var(--text-color-secondary);
}

.about-text a.social {
    /* text-decoration: none; */
    color: var(--text-color-primary);
    width: fit-content;
}

.social-link p::before {
    content: " ↪ ";
}

.about-text a.social:hover {
    color: var(--text-color-highlight);
    background: var(--highlight-color);
}

@media only screen and (min-width: 768px) {
    .content {
        max-width: 1000px;
        display: flex;
    }
    .content .img-box {
        margin: 0 96px;
    }
}