html[case='fb'] {
    --section-dark: #141414;
}

html[case='kf'] {
    --title-img: url(../assets/kf-order/header-img.png);
}

html[case='refuel'] {
    --section-dark: #3C3A4E;
}

html[case='timelapse'] {
    --title-img: url(../assets/timelapse/header.png);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-color);
}

section {
    width: 100%;
    box-sizing: border-box;
    padding: var(--section-gap) var(--page-margin);
    display: flex;
    flex-direction: column;
}

section.grey {
    background: var(--bg-color-2);
}

section.dark {
    background: var(--section-dark);
}

/* title */

section.title {
    width: 100%;
    margin-top: var(--section-gap);
}

/* Project Overview */

.meta-info {
    display: grid;
    row-gap: 1em;
}

.meta-item p strong {
    font-weight: 600;
}

.meta-item p {
    font-size: 16px;
    margin-bottom: 0;
}

.title-img {
    width: 100%;
    max-width: 1200px;
}

.hashtag {
    font-size: 16px;
    font-variation-settings: 'wght' 550;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--hint-color);
    text-transform: uppercase;
}

img.m {
    margin: var(--gap-s) 0;
}

img.l {
    margin: var(--title-gap) 0;
}

/* 2 column */

.col-2 {
    margin: var(--title-gap) 0;
    display: grid;
    row-gap: var(--column-gap);
}

/* 3 column image */

.col-3 {
    margin: var(--title-gap);
    display: grid;
    row-gap: var(--column-gap);
}

.col-3 .container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: var(--title-gap) var(--page-margin);
}

.demo {
    display: none;
}

/* phone demo */

.phone-demo>.phone {
    width: 330px;
    height: 641px;
    box-sizing: border-box;
    overflow: hidden;
    background-image: url(../assets/iPhone-black.png);
    background-size: cover;
}

.phone-demo .screen {
    width: 268px;
    position: relative;
    top: 30px;
    left: 31px;
    z-index: -1;
}

.center {
    align-self: center;
}

.hover-child img {
    transition: all 200ms ease-in-out;
}

.hover-child img:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, .08);
}

.phone-demo {
    display: grid;
    row-gap: var(--column-gap);
}

.phone-demo .text {
    grid-row: 1;
}

.phone-demo>.phone {
    justify-self: center;
}

.chart-container {
    position: relative;
    height: 40vh;
    width: 80vw;
    margin: var(--title-gap) 0;
}

iframe.fb-demo {
    display: none;
}

/* phone demo end*/

.topBtn {
    cursor: pointer;
    color: var(--bg-color-2);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    width: 40px;
    background: var(--text-color-primary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .16);
    position: fixed;
    right: 22px;
    bottom: 48px;
    border-radius: 50%;
    transition: bottom 300ms ease-in-out;
}

.topBtn.hide {
    bottom: -56px;
}

@media only screen and (min-width: 768px) {
    .overview {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: var(--column-gap);
    }
    /* column wide narrow */
    section.overview>h2 {
        grid-column: 1 / 3;
    }
    .col-3 {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: var(--column-gap);
        margin: var(--title-gap) 0;
    }
    .col-2 {
        grid-template-columns: 1fr 1fr;
        column-gap: var(--column-gap);
        row-gap: var(--column-gap);
        margin: var(--title-gap) 0;
    }
    .col-2>* {
        margin: 0 !important;
    }
    .col-2 h2, .col-2 h3, .col-2 p {
        margin-right: var(--column-gap);
    }
    img.icon {
        width: 200px;
    }
    .quote {
        max-width: 551px;
        align-self: center;
    }
    .chart-container {
        min-width: 720px;
        margin: var(--title-gap) 0;
    }
    section h2, section p, section ul, section ol {
        max-width: 720px;
    }
    .topBtn {
        font-size: 20px;
        line-height: 44px;
        width: 44px;
        right: 40px;
        bottom: 32px;
    }
}

@media only screen and (min-width: 992px) {
    section.overview {
        grid-template-columns: auto 300px;
        column-gap: 96px;
    }
    .meta-info {
        display: block;
    }
    .meta-item {
        margin-bottom: var(--title-gap);
    }
    .phone-demo {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 96px;
        align-self: center;
    }
    .phone-demo>.text {
        grid-row: auto;
        width: 435px;
        align-self: center;
    }
    .phone-demo>.phone {
        justify-self: end;
    }
    iframe.fb-demo {
        display: block;
        width: 1280px;
        height: 712px;
        transform: scale(0.766);
        position: relative;
        left: -155px;
        overflow: hidden;
    }
    .demo-place-holder {
        display: none;
    }
    .center>* {
        max-width: 720px;
    }
    .topBtn {
        right: calc(var(--page-margin) - 56px);
    }
}