/* For phone: */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header */

.header {
    width: 100%;
    padding-top: 110px;
    max-width: 660px;
}

.header-img {
    width: 100%;
    margin-top: 64px;
}

.header h1 {
    padding: 0 20px;
    text-align: center;
}

.header p {
    font: 400 20px/28px 'open sans';
    margin: 24px 0 0 0;
    padding: 0 20px;
    text-align: center;
    color: var(--text-color-secondary);
}

.header-meta {
    margin-top: 40px;
}

.meta-item {
    margin-top: 32px;
}

.meta-item:first-child {
    margin: 0;
}

.meta-item p {
    font: 400 16px/28px 'open sans';
    margin: 0;
}

.meta-item p:first-child {
    font-weight: 600;
}

.meta-text {
    font: normal 10px/14px 'Open Sans';
    margin-top: 4px;
}

/* header end */

.article {
    margin: 64px 20px;
    display: flex;
    flex-direction: column;
}

.article h2 {
    font-size: 28px;
}

.article h3 {
    font-size: 20px;
    opacity: .5;
    font-weight: 700;
    font-style: italic;
}

.article p, .article ul {
    font-size: 16px;
    line-height: 150%;
    margin-top: 1em;
}
.article li{
    margin-top: 1em;
}

.article p a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1.5px solid var(--text-link-default);
    cursor: pointer;
}

.img-text {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 32px;
}

.img-text .text {
    grid-row: 1;
    max-width: 560px;
}

.section {
    margin-top: 32px;
}

.section img {
    margin-top: 24px;
}

.side {
    margin-top: 32px;
}

.two-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
}

.small {
    max-width: 480px;
    justify-self: center;
}

.quote {
    margin-top: 32px;
    max-width: 480px;
    text-align: center;
    align-self: center;
}

.demo {
    display: none;
}

img, video {
    width: 100%;
}

/* phone demo */

.phone {
    width: 253px;
    height: 528px;
    display: flex;
    justify-content: center;
    justify-self: center;
    border: 10px solid #111;
    box-sizing: border-box;
    border-radius: 37px;
}

.frame {
    fill: var(--frame-color);
    position: absolute;
    z-index: 9;
    width: inherit;
    height: inherit;
    /* background-image: url(../assets/frame.svg); */
    background-size: cover;
}

.screen {
    position: absolute;
    width: 235px;
    height: auto;
    background: #C4C4C4;
    overflow: hidden;
    border-radius: 28px;
}

/* phone demo end*/

/* article end */

@media only screen and (min-width: 768px) {
    .article {
        max-width: 660px;
    }
    .section {
        margin-top: 64px;
    }
    .section h2, .section h3, .section p, .section ul {
        max-width: 560px;
    }
    .side {
        margin-top: 64px;
        display: grid;
        grid-template-columns: 40% auto;
        column-gap: 40px;
    }
    .img-text {
        margin-top: 64px;
        column-gap: 56px;
    }
    .img-text.img-text.left {
        grid-template-columns: 38% auto;
    }
    .img-text.right {
        grid-template-columns: auto 38%;
    }
    .img-text.left .text {
        grid-column: 1;
    }
    .img-text.right .text {
        grid-column: 2;
    }
    .phone {
        margin-bottom: 64px;
    }
    .two-text {
        grid-template-columns: 1fr 1fr;
        column-gap: 56px;
    }
    .demo {
        display: block;
        width: 100%;
        height: 400px;
        position: relative;
    }
    .demo iframe {
        width: 1280px;
        height: 720px;
        transform: scale(0.52);
        position: absolute;
        left: -310px;
        top: -150px;
    }
}

@media only screen and (min-width: 992px) {
    /* header */
    .header {
        max-width: 1200px;
        margin: 32px 64px;
        padding-top: 170px;
    }
    .header-img {
        width: inherit;
        margin-top: 160px;
    }
    .header-meta {
        margin-top: 64px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 24px;
    }
    .meta-item {
        margin: 0;
    }
    /* article */
    .article {
        width: inherit;
        max-width: 1000px;
        margin: 0 72px
    }
    .quote {
        max-width: 560px;
        margin-top: 64px;
    }
    .img-text {
        margin-top: 96px;
    }
    .section {
        margin-top: 96px;
    }
    .demo iframe {
        transform: scale(0.7);
        position: absolute;
        left: -200px;
        top: -150px;
    }
}

@media only screen and (min-width: 1200px) {
    .header-meta {
        margin-top: 96px;
        grid-template-columns: repeat(4, 1fr);
    }
    .article {
        max-width: 1200px;
    }
    .article h2 {
        font-size: 32px;
    }
    .article p {
        font-size: 18px;
    }
    .section {
        margin-top: 192px;
    }
    .section h2, .section h3, .section p, .section ul {
        margin-left: 96px;
        margin-right: 96px;
        max-width: 696px;
    }
    .img-text {
        margin-top: 192px;
        column-gap: 80px;
    }
    .img-text.device{
        margin-left: 96px;
        margin-right: 96px;
    }
    .side {
        margin-top: 192px;
        padding: 0 96px;
        column-gap: 80px;
    }
    .quote {
        margin-top: 192px;
    }
    .two-text {
        margin-top: 72px;
        padding: 0 96px;
        column-gap: 96px;
    }
    .demo{
        height: auto;
        margin-top: 80px;
    }
    .demo iframe {
        transform: none;
        width: 100%;
        position: static;
    } 
}