/* For phone: */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header */

.header {
    width: 100%;
    padding-top: 110px;
    max-width: 660px;
}

.header-img {
    width: 100%;
    margin-top: 64px;
}

.header h1 {
    padding: 0 20px;
    text-align: center;
}

.header p {
    font: 400 20px/28px 'open sans';
    margin: 24px 0 0 0;
    padding: 0 20px;
    text-align: center;
    color: var(--text-color-secondary);
}

.header-meta {
    margin-top: 40px;
}

.meta-item {
    margin-top: 32px;
}

.meta-item:first-child {
    margin: 0;
}

.meta-item p {
    font: 400 16px/28px 'open sans';
    margin: 0;
}

.meta-item p:first-child {
    font-weight: 600;
}

.meta-text {
    font: normal 10px/14px 'Open Sans';
    margin-top: 4px;
}

/* header end */

.article {
    margin: 0 20px;
}

.article h3 {
    opacity: .5;
    font-weight: 700;
    font-style: italic;
}

.article p, .article ul {
    font-size: 16px;
    line-height: 150%;
    margin-top: 1em;
}
.article p a{
    color: inherit;
    text-decoration: none;
    border-bottom: 1.5px solid var(--text-link-default);
    cursor: pointer;
}

/* side */

.side h3 {
    margin-left: 64px;
    padding: 0;
    grid-column-start: 1;
    opacity: .5;
    font-weight: 700;
    font-style: italic;
}

.side h2 {
    padding: 0;
    font-size: 32px;
    line-height: 150%;
}

/* img-text */

.img-text {
    margin: 96px 0;
}

.img-text h2 {
    margin-top: 8px;
}

.img-text .small {
    margin-left: 10%;
    width: 60%;
}

/* section */

.section {
    margin-top: 96px;
}

.section h2, .section p, .section ul {
    width: 75%;
}

.section img {
    margin-top: 48px;
}

/* two-text */

.two-text {
    padding: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 13%;
}

.quote {
    margin: 96px 23% 96px 23%;
    max-width: 629px;
    text-align: center;
}

.demo {
    width: 1200px;
    height: 720px;
    margin-top: 60px;
}

img, video {
    width: 100%;
}

/* phone demo */

.phone {
    width: 324px;
    height: 670px;
    display: flex;
    justify-content: center;
    justify-self: center;
    border: 14px solid #111;
    box-sizing: border-box;
    border-radius: 44px;
}

.frame {
    fill: var(--frame-color);
    position: absolute;
    z-index: 9;
    width: inherit;
    height: inherit;
    /* background-image: url(../assets/frame.svg); */
    background-size: cover;
}

.screen {
    position: absolute;
    width: 298px;
    height: auto;
    background: #C4C4C4;
    overflow: hidden;
    border-radius: 24px;
}

/* phone demo end*/

/* article end */

@media only screen and (min-width: 768px) {
    /* For tablet: */
    /* header */
    .header {
        width: auto;
        padding-top: 130px;
    }
    .header-img {
        margin-top: 112px;
    }
    .header-meta {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 40px;
    }
    .meta-item {
        margin: 0;
    }
    /* header end */
    /* article*/
    .article {
        margin: 0 72px;
    }
    .article h2 {
        font-size: 28px;
    }
    .article h3 {
        font-size: 20px;
    }
    .section h2, .section p, .section ul {
        width: 75%;
    }
    .side {
        display: grid;
        grid-template-columns: 38% auto;
        grid-column-gap: 80px;
        margin: 96px 64px;
        grid-column-gap: 64px;
    }
    .side h3, .side h2, .side p {
        margin-left: 0;
        margin-right: 0;
    }
    .img-text h2, .img-text h3, .img-text p {
        width: 75%;
    }
}

@media only screen and (min-width: 1000px) {
    /* For desktop: */
    /* header */
    .header {
        margin: 0 64px;
        padding-top: 170px;
        max-width: 1200px;
    }
    .header-img {
        margin-top: 160px;
    }
    .header-meta {
        margin-top: 80px;
        grid-template-columns: repeat(4, 1fr);
    }
    /* header end */
    /* article */
    .article p {
        font-size: 18px;
    }
    .section h2, .section p {
        width: 696px;
        margin-left: 64px;
    }
    .img-text {
        margin: 192px 0;
        display: grid;
        grid-column-gap: 80px;
    }
    .img-text.right {
        grid-template-columns: auto 38%;
    }
    .img-text.left {
        grid-template-columns: 38% auto;
    }
    .section h2, .section h3, .section p, .section ul {
        margin-left: 64px;
        width: 60%;
    }
}

@media only screen and (min-width: 1200px) {
    .article {
        max-width: 1200px;
    }
}