body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* intro  */

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    min-height: 320px;
}

.intro .avatar {
    width: 80px;
    height: 80px;
    background-image: url(../assets/avatar.png);
    background-size: cover;
}

.intro h3 {
    font-size: 32px;
    margin-bottom: 14px;
}

.intro p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
}

.gallery {
    margin: 24px 24px 0 24px;
}

/* hover */

.work .img-wrap {
    height: fit-content;
    transition: all 500ms ease-in-out;
}

.work:hover .img-wrap {
    transform: translateY(-4px) scale(1.02);
}

.work video {
    transition: all 500ms ease-in-out;
}

.work:hover img {
    filter: brightness(1);
}

.work:hover video {
    box-shadow: 0 8px 24px rgba(0, 0, 0, .08);
}

.work:hover h3 .arrow {
    font-weight: 400 !important;
    opacity: 1;
    transition: opacity 300ms ease-in-out;
    animation: arrow_right 1000ms ease-in-out infinite;
}

@keyframes arrow_right {
    0% {
        left: 0px;
    }
    50% {
        left: 4px;
    }
    100% {
        left: 0px;
    }
}

.work {
    margin-bottom: 56px;
    max-width: 480px;
    display: grid;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.work p span {
    color: var(--text-color-secondary);
    opacity: .3;
}

.img-wrap img {
    border-radius: 4px;
    transition: all 300ms ease-in-out;
}

.work video {
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.work:hover video {
    opacity: 1;
}

.work h3 {
    font-size: 26px;
    line-height: 160%;
    font-weight: 600;
    margin: 16px 0 0 0;
    color: var(--text-color-primary);
}

.work p {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    margin-top: 4px;
    color: var(--text-color-secondary);
}

.work h3 span {
    font-weight: regular;
}

@media only screen and (min-width: 768px) {
    .gallery {
        max-width: 1000px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        align-items: start;
        margin: 80px 40px
    }
    .gallery .work {
        width: auto;
        transition: transform 300ms ease-in-out;
    }
    .work h3 span {
        opacity: 0;
        position: relative;
    }
    .intro {
        display: none;
    }
}