/* fonts import */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: all 300ms ease-in-out;
    --font-mono: "Inconsolata", monospace;
    --font-serif: 'Merriweather', serif;
    color: var(--text-color-primary);
    --text-color-highlight: #333;
    --highlight-color: #EDF911;
    font-family: var(--font-mono);
}

html[data-theme='light'] {
    --bg-color: #F7F7F7;
    --text-color-primary: #333;
    --text-color-secondary: #8d8d8d;
    --text-color-p: #5a5a5a;
}

html[data-theme='dark'], section.dark {
    --bg-color: #121212;
    --bg-color-2: #262626;
    --text-color-primary: rgba(255, 255, 255, .9);
    --text-color-secondary: rgba(255, 255, 255, .55);
    --text-color-p: rgba(255, 255, 255, .7);
}


/* footer */

footer {
    box-sizing: border-box;
    color: var(--text-color-secondary);
    text-align: center;
    max-width: 100vw;
    transition: 300ms all ease-in-out;
    padding: 24px 24px;
}

/* gap */

body {
    --page-margin: 24px;
    --column-gap: 24px;
    --section-gap: 64px;
    background: var(--bg-color);
}

/* font */

p, li {
    /* font-family: var(--font-sans-serif); */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 1.5em;
    color: var(--text-color-p);
}

p>strong, li>strong {
    font-weight: 700;
}
* a{
    color: inherit;
}
* a:hover {
    color: #333;
}

h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: var(--text-color-primary);
}

h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: var(--text-color-primary);
    margin-bottom: 24px;
}

h3 {
    font-weight: 600;
    font-size: 19px;
    line-height: 150%;
    color: var(--text-color-primary);
    margin-bottom: 24px;
}

figcaption {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--text-color-secondary);
    margin-top: 0.5em;
    opacity: .9;
}

quote {
    display: block;
    font-family: var(--font-serif);
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: var(--text-color-primary);
    margin: 64px 0;
}
quote::before {
    font-family: "Inconsolata";
    content: "“";
    color: #E9F40A;
    font-size: 72px;
    line-height: 100%;
    position: relative;
    left: -30px;
}
quote.s {
    font-size: 18px;
    padding: 0 16px;
    margin: 24px 0;
} 

quote name {
    font-family: "Inconsolata", monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: var(--text-color-p);
}

quote.s name {
    font-size: 16px;
}

img, video {
    width: 100%;
    -webkit-user-drag: none;
}

/* list */

ol, ul {
    margin-left: 2em;
}

@media only screen and (min-width: 768px) {
    /* gap */
    body {
        --page-margin: 64px;
        --column-gap: 30px;
        --section-gap: 80px;
    }
    /* font */
    h1 {
        font-size: 48px;
    }
    
    h2 {
        font-size: 32px;
    }
    
    h3 {
        font-size: 24px;
    }
    p,li {
        font-size: 17px;
    }
    quote {
        font-size: 26px;
    }
    quote.s {
        margin: 24px 0 64px 0;
    }
}

@media only screen and (min-width: 992px) {
    body {
        --page-margin: max(calc(50vw - 490px), 96px);
    }
}